body {
    background-color:#cccccc;
}

.divi{

    background-image: url("img.jpg");
    background-repeat: repeat;
}
h2{
font-family:Algerian;
font-size:170%;
font-style:italic;
color: #737373;
font-weight: bold;
}
hr{
background-color:#595959;
}